@font-face {
    font-family: 'HarmoniaSansProCyr-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/HarmoniaSansProCyr-Regular_gdi.woff) format('woff')     
}
@font-face {
    font-family: 'HarmoniaSansProCyr-SemiBd';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/HarmoniaSansProCyr-SemiBd_gdi.woff) format('woff')     
}