*{
    margin:0;
    padding:0
  }
html{
  color:$text-main;
  line-height: 1.6;
}
body{
  box-sizing:border-box;
  font-size:16px;
}
a{
  text-decoration:none
}
ul,li{
  list-style-type:none
}
h1{
  font-size: 2em;
  margin: .6666666667em 0;
}
figure{
  margin:0;
  margin-bottom: 36px;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
blockquote{
  font-size: 120%;
  line-height: 1.6;
  padding: 0 0 0 30px;
  border-left: 2px solid #30488f;
}
article, aside, details, figcaption, 
figure, footer, header, hgroup, main, 
menu, nav, section, summary{
  display: block;
}



@mixin transition {
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
@mixin mainSize {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
  box-sizing: border-box;
}
