.page{
    &__content{
        font-size: .875rem;
        line-height: 1.5;
        //font-family: 'HarmoniaSansProCyr-SemiBd';
        //font-weight: 600;
        display:block;
    }
    &__section{
      font-family: 'HarmoniaSansProCyr-Regular',Arial,sans-serif;
      &--alt{
        padding: 30px 0;
        background: #ffe7d2;
      }
      &--toppad{
        padding-top: 80px;
      }
    }
    .g-container{
      @include mainSize;
      &-main{
        @include mr-tb-100;
        &-left{
          float: left;
          max-width: 518px !important;
        }
        &-hero{
          text-align: left !important;
        }
        &-buttons, &-extra{
          @include floatclaer-left
        }
      }
      &--inner{
        max-width: 860px;
      }
    }
    .g-title{
      margin-top: 0;
      margin-bottom: 15px;
      line-height: 1.2;
      color: #58402c;
      font-family: 'HarmoniaSansProCyr-SemiBd';
      font-weight: 600;
      font-size: 26px;
      &--alt{
        line-height: 1.533334;
      }
    }
}

@media screen and (min-width: 768px){
  .page{
    .g-title {
      //font-size: 2.5rem;
      line-height: 1.4;
    }
  }
}
@media screen and (min-width: 1200px){
  .page{
    .g-container{
      @include pd-lr-0
    }
  }
}




